<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('partials/head.html')%>
</head>

<body>
    <%- include ('partials/navigation.html')%>

        <%- include ('partials/header.html')%>

            <div class="bg-section">
                <section class="tendencias-section" id="tendencias">
                    <div class="container">
                        <h2 class="titulo-section">TENDENCIAS</h2>
                        <div class="tendencias-body">
                            <div class="card">
                                <div id="nuevo">
                                    <p>NUEVO</p>
                                </div>
                                <img src="./img/card_01.png" alt="Montañas y magia">
                                <div class="card-text">
                                    <h4>Montañas y magia</h4>
                                    <p>Aquí la descripción para <b>Montañas y magia.</b></p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="./img/card_02.png" alt="Playas y sol">
                                <div class="card-text">
                                    <h4>Playas y sol</h4>
                                    <p>La descripción de <b>Playas y sol</b> debe ser esta.</p>
                                </div>
                            </div>

                            <div class="card">
                                <img src="./img/card_03.png" alt="Nieve y aventura">
                                <div class="card-text">
                                    <h4>Nieve y aventura</h4>
                                    <p>Contiene la información de <b>Nieve y aventura.</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <section class="blog-section" id="blog">
                <div class="container">
                    <h2 class="titulo-section">BLOG</h2>
                    <div class="blog-body">

                        <!-- articulos grandes-->
                        <div>
                            <div class="articulo-big">
                                <div>
                                    <h4>CIUDAD</h4>
                                    <div class="articulo-big-bottom">
                                        <h3>Artículo de puente</h3>
                                        <p>Un puente es una construcción que permite salvar un accidente geográfico</p>
                                        <div class="hora">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 16 16">
                                                <g id="time" transform="translate(-274 -998)">
                                                    <path id="Trazado_5" data-name="Trazado 5"
                                                        d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                                                        transform="translate(274 998)" fill="#cbd0d3" />
                                                </g>
                                            </svg>
                                            <p>Hace 2m</p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./img/articulo_big_01.png" alt="">
                            </div>
                            <div class="articulo-big aventura">
                                <div>
                                    <h4>AVENTURA</h4>
                                    <div class="articulo-big-bottom">
                                        <h3>Artículo de bosque</h3>
                                        <p>Lugar poblado de árboles y arbustos. Área con una importante densidad de
                                        </p>
                                        <div class="hora">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                viewBox="0 0 16 16">
                                                <g id="time" transform="translate(-274 -998)">
                                                    <path id="Trazado_5" data-name="Trazado 5"
                                                        d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                                                        transform="translate(274 998)" fill="#cbd0d3" />
                                                </g>
                                            </svg>
                                            <p>Hace 15m</p>
                                        </div>
                                    </div>
                                </div>
                                <img src="./img/articulo_big_02.png" alt="">
                            </div>
                        </div>

                        <!-- articulos pequeños-->
                        <div>
                            <div class="card articulo-small">
                                <img src="./img/articulo_small_01.png" alt="">
                                <h4>Artículo de elefante</h4>
                                <div class="hora">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <g id="time" transform="translate(-274 -998)">
                                            <path id="Trazado_5" data-name="Trazado 5"
                                                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                                                transform="translate(274 998)" fill="#cbd0d3" />
                                        </g>
                                    </svg>
                                    <p>Hace 3h</p>
                                </div>
                            </div>
                            <div class="card articulo-small">
                                <img src="./img/articulo_small_02.png" alt="">
                                <h4>Artículo de loro</h4>
                                <div class="hora">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <g id="time" transform="translate(-274 -998)">
                                            <path id="Trazado_5" data-name="Trazado 5"
                                                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                                                transform="translate(274 998)" fill="#cbd0d3" />
                                        </g>
                                    </svg>
                                    <p>Hace 4h</p>
                                </div>
                            </div>
                            <div class="card articulo-small">
                                <img src="./img/articulo_small_03.png" alt="">
                                <h4>Artículo de camino</h4>
                                <div class="hora">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <g id="time" transform="translate(-274 -998)">
                                            <path id="Trazado_5" data-name="Trazado 5"
                                                d="M8,0a8,8,0,1,0,8,8A8.024,8.024,0,0,0,8,0ZM8,14a6,6,0,1,1,6-6A6.018,6.018,0,0,1,8,14ZM9,7.6l2.7,2.7-1.4,1.4L7,8.4V3H9Z"
                                                transform="translate(274 998)" fill="#cbd0d3" />
                                        </g>
                                    </svg>
                                    <p>Hace 8h</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <%- include ('partials/footer.html')%>


</body>

</html>