@media (max-width: 500px){

/* NAVEGACION */
.navbar {
    height: 50px;
    position: relative;
    opacity: 1;
}
.nav-logo{
    margin-left: 36px;
}
.nav-logo svg {
    width: 96px;
    height: 15px;
}

/* nav responsive */
#close-icon{
    z-index: 1030;
    position: fixed;
    margin-top: -8px;
    margin-left: -30px;

}
.d-none {
    display: none;
    opacity: 0;
}
#open-icon {
    margin-right: 20px;
}
.nav-colapsada {
    background-color: rgba(0, 0, 0, 0.541);
    width: 360px;
    height: 640px;
    background-position-x: 180 ;
    position: fixed;
    
    left: 0px;
    top: 0;
    right: 0;
    z-index: 2;

    transition: box-shadow .15s ease-in-out;

}
.nav-colapsada .navbar-nav  {
    background: white;
    height: 640px;
    width: 180px;
    padding-top: 40px;
}
.nav-colapsada .nav-link {
    margin-top: 20px;
}

.navbar-toggler:focus {
    box-shadow: none
}

/* HEADER */
header{
    margin-top: -35px;
    background-position-x: -385px;
}
.header-card{
    width: 286px;
    margin-top: 220px;
    margin-left: 37px;
}
.header-title {
    border-bottom: #FFFFFF solid 3px;
    padding-bottom: 20px;
    height: 24px;
}
.header-title svg {
    width: 12px;
}
.header-title h1{
    font: normal normal bold 24px/42px Montserrat;
    margin-left: 10px;
}
.header-body h3 {
    font: normal normal bold 20px/34px Montserrat;

}
.header-body p{
    display: none;
}
.nav-slider{
    margin-left: -100px;

}
.proxima-aventura-card{
    width:0px;
    display: none;
    position:relative;
}
.card-2{
    display: none;
    width: 0;
}

.proxima-aventura-card h5 {
    font: normal normal bold 16px/20px Montserrat;
}


/* SECTION 1 TENDENCIAS*/

.tendencias-section{
    padding-top: 80px;
}
.titulo-section{
    margin-bottom: 22px;
    margin-left: 22px;
    }
.tendencias-body{
    margin-left: 10px;
}
.card{
    width: 286px;
    margin: -8px 12px;
    border: none;
}
.card img {
    height: 180px;
}
.card-text{
    margin-top: 36px;
    margin-left: 22px;

}
#nuevo{
    width: 69px;
    height: 27px;
    margin-top: 164px;
    margin-left: 22px;
}
#nuevo p {
    font: normal normal bold 12px/10px Montserrat;
}


/* SECTION 2 BLOG*/
.blog-section{
    margin-top: -220px;   
}
.blog-body{
    padding: 0;
    margin: 0; 
}
.articulo-big{
    width:360px;
    margin: 0 auto;
    overflow:hidden;
    position: relative;
    height: 429px;
    margin-left: -12px;
    border-radius: 6px;
}
.articulo-big img{
    margin-left: -184px;
    top: 50%;
    margin-top: -215px;
    position:absolute;
  
}
.articulo-big div:first-child {
    margin-left: 35px;
    margin-top: 40px;
    z-index: 1;
}
.articulo-big h4 {
    margin-top: 10px;
}
.aventura{
    margin-top: 30px;
}
.articulo-big-bottom{
    margin-top: 266px;
}
.articulo-big h3 {
width: 283px;
font: normal normal bold 22px/34px Montserrat;
}
.articulo-big .texto-card{
    display: none;
}
.articulo{
   display: none; 
   width: 0;
}


/* FOOTER */
.footer{
    width: auto;
    margin-top: 40px;
    }
    .footer-logo{
    margin-left: 36px;
    }
    .redes{
    right: 46px;
    }
}

