<!-- TENDENCIAS -->
<section class="tendencias-section" id="tendencias">
    <div class="container">
        <h2 class="titulo-section">TENDENCIAS</h2>
        <div class="tendencias-body">
            <div class="card">
                <div id="nuevo">
                    <p>NUEVO</p>
                </div>
                <img src="./img/card_01.png" alt="Montañas y magia">
                <div class="card-text">
                    <h4>Montañas y magia</h4>
                    <p>Aquí la descripción para <b>Montañas y magia.</b></p>
                </div>
            </div>

            <div class="card card-2">
                <img src="./img/card_02.png" alt="Playas y sol">
                <div class="card-text">
                    <h4>Playas y sol</h4>
                    <p>La descripción de <b>Playas y sol</b> debe ser esta.</p>
                </div>
            </div>

            <div class="card card-2">
                <img src="./img/card_03.png" alt="Nieve y aventura">
                <div class="card-text">
                    <h4>Nieve y aventura</h4>
                    <p>Contiene la información de <b>Nieve y aventura.</b></p>
                </div>
            </div>
        </div>
    </div>
</section>